*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #343434;
    height: 60px;
}
.subdivisiontwo ul li{
    list-style-type: none;
    margin-right: 30px;
    margin-top: 20px;
}
.subdivisiontwo ul li a{
    text-decoration: none;
  
}
.mainheaderflex{
    display: flex;
    justify-content: space-around;
}
.subdivisiontwo ul
{
    display: flex;
    justify-content: space-between;
}
.subdivisionthree img{
    width: 30px;
    height: 30px;
    margin-right: 30px;
    margin-top: 15px;
}
.subdivisonone img{
    width: 50%;
    margin-top: 15px;
}
.active{
    /* border-bottom: 1px solid white;  */ 
    color: red ; 
    
}
.whitecolor{
    color: white;
}